<header>
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">Coding Problems</h1>
      <p class="lead blog-description">Try your hand at a problem or write one for others.</p>
    </div>
  </div>
</header>